

.white-block{
  color:#000000;
}

.--white-button {
  background-color: rgb(218, 218, 218);
  color: #5c5c5c;
  transition: all 0.25s;
}
.--white-button:hover {
  border-color: #000000;
  color:#000000
}



