:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container{
  padding: 30px;
}
